body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffeea2;
    text-align: center;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
pre{
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
i{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}